.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logo-section{
    z-index: 1000;
}
.nav-links{
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    z-index: 1000;
    background: red;
    border-radius: 500%;
}
.nav-links a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 25px;
}
.main-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}
button{
    z-index: 1000;
    background: red;
    border-radius: 500%;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.nav-links a:hover{
    background: #000;
    border-radius: 500%;
    color: red;
}
button:hover{
    background: #000;
    border-radius: 500%;
    color: red;  
}
.main-text{
    z-index: 1000;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%); 
    font-size: 50px;
    color: red;

}
.main-text button{
     position: absolute;
    top: 95%;
    left: 14%;
    transform: translate(-50%, -50%); 
    border-radius: 0;
}